@import '../../../src/styles/variables';

@mixin style_td_th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
}

.container__div {
  .container__div__title {
    margin: 1rem 0 0 2rem;
  }

  .container__div__section {
    display: flex;
    justify-content: center;

    padding: 1rem 0 2rem 0;

    .container__div__item {
      background-color: $background--color-6;
      color: $background--color-1;
      padding: 1rem 5rem;
      font-weight: bold;

      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    .container__div__item:first-child {
      background-color: $background--color-5;
    }
  }
}

.table__section {
  height: calc(100vh - 420px);
  overflow-y: scroll;

  .table {
    margin: 0 auto;
    width: calc(80% - 2rem);

    th {
      font-weight: bold;
      font-size: 1em;
      text-align: center;
      color: $background--color-7;
      background-color: $background--color-5;
      @include style_td_th;
    }

    td {
      text-align: center;
      font-weight: normal;
      font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px $background--color-6;
      -moz-box-shadow: 0 2px 2px -2px $background--color-6;
      box-shadow: 0 2px 2px -2px $background--color-6;
      @include style_td_th;

      &:hover:last-child {
        font-weight: bold;
        background-color: $background--color-2;

        box-shadow: $background--color-5 -1px 1px, $background--color-5 -2px 2px,
          $background--color-5 -3px 3px, $background--color-5 -4px 4px,
          $background--color-5 -5px 5px, $background--color-5 -6px 6px;
        transform: translate3d(6px, -6px, 0);

        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: line;

        .table__div__button {
          color: $background--color-1;
        }
      }
    }

    .table__div {
      display: flex;
      justify-content: space-around;

      .table__div__button {
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: transparent;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
          cursor: pointer;
        }
      }
    }
  }
}

.table tr:nth-child(odd) {
  background-color: $background--color-6;
}

.table tr:nth-child(even) {
  background-color: $background--color-3;
}

.table tr:hover {
  background-color: $background--color-4;
  -webkit-box-shadow: 0 6px 6px -6px $background--color-7;
  -moz-box-shadow: 0 6px 6px -6px $background--color-7;
  box-shadow: 0 6px 6px -6px $background--color-7;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $background--color-5;
}
