// --------- COLORS ---------

$background--color-1: #f9fafb;
$background--color-2: #016124;
$background--color-3: #a1d9c3;
$background--color-4: #dbe5e4;
$background--color-5: #27915c;
$background--color-6: #70bda2;
$background--color-7: #171717;
$background--color-8: #f44c56;
