@import '../../../../styles/variables';
.container {
  grid-area: aside;
  background-color: $background--color-4;

  .container__title {
    margin-top: 2.3rem;
    text-align: center;
    letter-spacing: 1px;
    color: $background--color-5;

    .container__title__span {
      font-weight: 700;
      color: $background--color-2;
    }
  }

  .container__section {
    margin-top: 5rem;

    .container__div__main {
      position: relative;

      a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: $background--color-7;
      }

      svg {
        font-size: 20px;
        margin-right: 5px;
        color: $background--color-5;
      }

      .icon__close {
        svg {
          color: #dbe5e4;
          padding: 1px;
          position: absolute;
          top: 5px;
          right: 1rem;
          background-color: #f44c56;
          border-radius: 50%;
        }
      }
      .icon__open {
        svg {
          color: #dbe5e4;
          padding: 1px;
          position: absolute;
          top: 5px;
          right: 1rem;
          background-color: #27915c;
          border-radius: 50%;
        }
      }
    }

    .container__div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 15px 15px 15px 50px;

      &:hover {
        cursor: pointer;
        background-color: $background--color-3;
      }
    }

    .visible {
      background-color: $background--color-3;
    }
  }
}
