.container {
  height: 100vh;

  display: grid;
  grid-template-columns: 70px 250px auto;
  grid-auto-rows: 100px 100px auto;

  grid-template-areas:
    'styleOne styleOne styleOne'
    'styleTwo aside header'
    'styleTwo aside content';
}
