@import '../../../../styles/variables';
.container {
  grid-area: styleOne;
  background-color: $background--color-5;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .container__title {
    margin-left: 122px;
    color: $background--color-7;
  }
}
