@import '../../../../styles/variables';
.container {
  grid-area: styleOne;
  background-color: $background--color-5;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .container__title {
    padding: 1rem;
    margin-left: 122px;
    border-radius: 25px;
    color: $background--color-1;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
