@import '../../../../styles/variables';
.container {
  grid-area: content;
  background-color: $background--color-1;

  border: 5px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
