.section {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  .div {
    width: 50rem;
    margin: auto;

    padding: 1rem 0 3rem;
    margin-top: 1rem;
  }
  .button {
    width: 30rem;
  }
}
